<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartcomma.huawei">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 华为 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.setting.DeviceConnectActivity" />
        <activity android:name=".ui.test.TestActivity">

        </activity>
        <!-- 环境:sit/uat/pro -->
        <meta-data
            android:name="env"
            android:value="uat" />

        <!-- false:内网，true:为外网 -->
        <meta-data
            android:name="uniportal"
            android:value="true" />

        <activity android:name=".ui.test.MainActivity" />
        <activity android:name=".ui.FunctionMenuActivity" />
        <activity android:name=".ui.receipts.ReceiverScanActivity" />
        <activity android:name=".ui.receipts.DoReceiverTaskActivity" />
        <activity android:name=".ui.setting.LocationListActivity" />
        <activity android:name=".ui.setting.EditAndSaveLocationActivity" />
        <activity android:name=".ui.bind.AccountingScanActivity" />
        <activity android:name=".ui.bind.BindActivity" />
        <activity android:name=".ui.test.A8UHFActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.test.A8UHFReceiveActivity"></activity>
    </application>

</manifest>